.paginate-buttons {
    border-radius: 8px;
    border: 1px solid #D3D3DE;
    width: 44px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &:hover {
      background-color: #F1F4FD;
    }
  }
  
  .pagination-numbers {
    margin: 0 24px;
    display: flex;
  }
  
  .pagination-number {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-right: 2px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &:last-child {
      margin-right: 0;
    }
  
    &.active {
      background-color: #F0F0F7;
    }
  
    &:hover {
      background-color: #F1F4FD;
    }
  }