.quantity {
  border-radius: 8px;
  border: 1px solid #D3D3DE;
  padding: 6px 10px;
  width: 73px;
  height: 36px;
}

.pagination-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-pages {
  color: #687588;
  margin-right: 16px;
}

.pagination-text {
  margin-right: 6px;
}